<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/estilos.css' ) }}">
</head>
<body>

    <div id="inicio">
        <br>
        <br>    
        <br>
        <h1 id="titulo-login">Login</h1>
        <form method="post" action="{{ url_for('login') }}">
            <label for="usuario" class="letra">Usuario:</label>
            <input type="text" name="usuario" required><br>
            <br>
            <br>
            <br>
            <label for="clave" class="letra">Clave:</label>
            <input type="text" name="clave" required><br>
            <br>
            <br>
            <br>
            <input type="submit" value="Login" id="boton1">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>

    <br>
</body>
</html>
